body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}

ul {
    display: inline;
    list-style: none;
    li {
        border-bottom: thin solid black;
        a {
            text-decoration: none;
            padding: 0.5em 0;

            display: block;
            width: 100%;
        }
    }
}