/******************************
 * Body
 */

body {
    font: 1em "Lucida Grande", Lucida, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/******************************
 * Header
 */

header {
    color: #ffffff;
    background-color: #000000;
    background-image: url(beethoven-background.jpg);
    background-size: auto 100%;
    background-position: top right;
    background-repeat: no-repeat;
}

header h1 {
    margin: 0;
}

/******************************
 * Navigation
 */

nav {
    border-bottom: 1px solid #cccccc;
    background-color: #ededed;
    padding: 1em;
}

nav ul {
    margin: 0;
    padding: 0;
}

/******************************
 * Interaction
 */

footer {
    border-top: 1px solid #cccccc;
    background-color: #ededed;
}



/******************************
 * Interaction
 */

a:hover, a:focus, a:active {
    background-color: #ff8b64;
}

/******************************
 * Image
 */

/* Prevent image to be bigger than viewport*/
img {
    max-width: 100%;
}

/******************************
 * List
 */

dt {
    background: url(music.png) left / 1em 1em no-repeat;
    padding-left: 1.25em;
}
dd {
    font-style: italic;
}
dd.last {
    padding-bottom: 0.85em;
}