/******************************
 * Structure
 */

body {
    font: 1em "Lucida Grande", Lucida, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    background-image: url(beethoven-background.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    color: #ffffff;
}

footer {
    border-top: 1px solid #cccccc;
    background-color: #ededed;
}

/******************************
 * Image
 */

/* Prevent image to be bigger than viewport*/
img {
    max-width: 100%;
}

/******************************
 * List
 */

dt {
    background: url(music.png) left no-repeat;
    padding-left: 1.5em;
}
dd {
    font-style: italic;
}
dd.last {
    padding-bottom: 0.85em;
}