/******************************
 * Structure
 */

body {
    font: 1em "Lucida Grande", Lucida, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: #ffffff;
    background: url(beethoven-background.jpg) top right / auto 100% no-repeat #000000;
}

footer {
    border-top: 1px solid #cccccc;
    background-color: #ededed;
}

/******************************
 * Image
 */

/* Prevent image to be bigger than viewport*/
img {
    max-width: 100%;
}

/******************************
 * List
 */

dt {
    background: url(music.png) left / 1em 1em no-repeat;
    padding-left: 1.25em;
}
dd {
    font-style: italic;
}
dd.last {
    padding-bottom: 0.85em;
}
