body {
    font: 1em "Lucida Grande", Lucida, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/******************************
 * Structure
 */

#container {
    padding: 0 1em;
}

#sidebar {
    width: 25%;
    float: left;
}

#content {
    width: 75%;
    float: right;
}

/******************************
 * Navigation
 */

nav {
    background-color: #f3eed3;
    border-bottom: 1px solid #f3eed3;
    padding: 1.5em;
}

nav ul, nav li {
    display: inline;
    padding:  0;
}

nav a {
    background-color: #e1d591;
    font: 1em "Lucida Grande", Lucida, Verdana, sans-serif;
    border: 1px solid #635524;
    border-radius: 0.5em;
    padding: 0.75em;
    color: #635524;
    text-decoration: none;
}

nav a:hover {
    background-color: #bda72f;
}

/******************************
 * Footer
 */

footer {
    clear: both;
    width: 100%;
    border-top: 1px solid #999999;
}

footer, footer a {
    color: #666;
    font-size: 0.85em;
}

footer a:hover {
    text-decoration: none;
}

/******************************
 * List & Definition
 */

dd {
    font-style: italic;
}

/******************************
 * Form
 */

label {
    font-weight: bold;
}

input.text {
    padding: 0.5em;
    width: 150px;
}

/******************************
 * General & Inline Style
 */

.hide {
    display: none;
}

a:hover {
    text-decoration: none;
}

p.info, p.success {
    border-radius: 0.5em;
    padding: 1em;
}

p.info {
    background-color: #d1e1ee;
    color: #2c75b1;
    border: 1px solid #9ac0e0;
}

p.success {
    background-color: #d1eedb;
    color: #3b764f;
    border: 1px solid #8ad5a4;
}