body {
    font: 1em "Lucida Grande", Lucida, Verdana, sans-serif;
}
nav {
    background-color: #e1d3d3;
    font: 1em "Lucida Grande", Lucida, Verdana, sans-serif;
    border: 1px solid #b69898;
    border-radius: 0.5em;
}
.hide {
    display: none;
}
p.info {
    background-color: #d1e1ee;
    border-color: #306ed2;
    color: #190a5a;
    border-radius: 0.5em;
}